.button-div{
display: flex;
padding: 4px;
gap: 4px;
}
.sub-div{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 4px;
    gap: 4px;
    
}
.main-div{
    height: 100%;
    align-content: center;
    place-items: center;
    text-align: center;
    gap: 8px; 
}
